/.phpunit.cache
/node_modules
!/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
lang/vendor/filament/ar
lang/vendor/filament/az
lang/vendor/filament/bn
lang/vendor/filament/bs
lang/vendor/filament/ca
lang/vendor/filament/ckb
lang/vendor/filament/cs
lang/vendor/filament/cy
lang/vendor/filament/da
lang/vendor/filament/de
lang/vendor/filament/eu
lang/vendor/filament/fa 
lang/vendor/filament/fi 
lang/vendor/filament/fr
lang/vendor/filament/he 
lang/vendor/filament/hi
lang/vendor/filament/hr
lang/vendor/filament/hu
lang/vendor/filament/hy 
lang/vendor/filament/id
lang/vendor/filament/it
lang/vendor/filament/ja
lang/vendor/filament/ka
lang/vendor/filament/km
lang/vendor/filament/ko
lang/vendor/filament/ku
lang/vendor/filament/lt
lang/vendor/filament/lv
lang/vendor/filament/mn
lang/vendor/filament/ms
lang/vendor/filament/nl 
lang/vendor/filament/no 
lang/vendor/filament/np 
lang/vendor/filament/pl 
lang/vendor/filament/pt_BR
lang/vendor/filament/pt_PT
lang/vendor/filament/ro 
lang/vendor/filament/ru 
lang/vendor/filament/sk 
lang/vendor/filament/sq
lang/vendor/filament/sv
lang/vendor/filament/sw
lang/vendor/filament/tr
lang/vendor/filament/uk
lang/vendor/filament/uz
lang/vendor/filament/vi
lang/vendor/filament/zh_CN
lang/vendor/filament/zh_TW
